* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background: linear-gradient(45deg, #958f8f, #f6f6f6 30%) ;
    padding: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/*Таблица*/
.table {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 1600px;
}

.table-caption {
    display: table-caption;
    /*width: 100%;*/
    font-size: 2em;
    text-align: center;
}

.table-body {
    display: table-row-group;
}

.table-thead {
    display: table-header-group;
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    }

.table-tr {
    display: table-row;
}

.table-th {
    display: table-cell;
    padding: 10px;
    border: 1px solid #555;
    font-weight: bold;
    text-align: center;
}

.table-td {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #555;
    transition: background-color 0.4s;
}

.table-td.coincidence.coincidence {
    background-color: red;
}

.table-td:hover {
    background-color: #e53535;
    cursor: pointer;
}

.table-td.price::after {
    content: "₽";
    padding: 2px;
    /*display: inline;*/
}

.table-td img {
    width: 30%;
}

@media all and (max-width: 1010px) {
    body {
        font-size: 14px;
        line-height: 1.4;
        padding: 10px;
    }

    .table-td {
        padding: 5px;
    }
}

@media all and (max-width: 780px) {
    body {
        font-size: 12px;
        line-height: 1.3;
        padding: 5px;
    }

    .table-td {
        padding: 3px;
    }

    .table-td img{
        width: 70%;
    }
}

@media screen and (max-width: 440px) {
    body {
        line-height: 1.2;
        padding: 10px 2px;
    }

    .table-tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .table-thead {
        display: none;
    }

    .table-td {
        display: block;
        text-align: left;
    }

    .table-td:before {
        content: attr(data-title);
        width: 100%;
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

/*Поле ввода*/
.search-field {
    margin: 10px auto;
    background: #444;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    padding: 10px;
    transition: 0.4s;
    box-sizing: content-box;
}

.search-field:hover > .search-txt {
    width: 50%;
    padding: 0 6px;
}

.search-field:hover > .search-btn {
    background: #e53535;
    color: black;
}

.search-field:hover {
    width: 50%;
}

.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    font-weight: bold;
}

.search-result {
    width: 300px;
    text-align: center;
}

.search-result {
    margin: 20px auto 0 auto;
    font-weight: bold;
    width: 300px;
}

.search-result span {
    display: block;
    font-weight: normal;
}

